@import './utils/variables';
@import './utils/mixins';
@import './base/reset';
@import './base/_base_style';
@import './utils/effect';
@import './components/header';
@import './components/logo';
@import './components/hero';
@import './components/section/benefits';
@import './components/section/activities';
@import './components/section/team';
@import './components/section/client';
@import './components/portfolio';
@import './components/footer';
@import './components/btn';
@import './utils/modal';
@import './utils/form';