.activities {
    display: flex;
    &__item {
        position: relative;
    }
    &__box {
        position: absolute;
        @include centeredflex();
        height: 70px;
        width: 100%;
        left: 0;
        bottom: 0;
        background: rgba(47, 48, 58, 0.8);
    }
    &__text {
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--white-color-bgc-text);
    }
}