.client {
    display: flex;
    border: none;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.client__item {
    display: block;
    width: calc((100% - 4 * 15px) / 2);
    margin-left: 30px;
    margin-top: 30px;
    height: 92px;
    @media screen and (min-width: $tablet) {
        width: calc((100% - 6 * 15px) / 3);
    }
    @media screen and (min-width: $desktop) {
        width: calc((100% - 12 * 15px) / 6);
    }
}

.client__link {
    width: 100%;
    height: 100%;
    @include centeredflex();
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;
    transition: fill 250ms $primary-cubic, border 250ms $primary-cubic;
    &:hover,
    &:focus {
        fill: $accent-color;
        border-color: $accent-color;
    }
}