.modal__header {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    margin-bottom: 12px;
}

.modal-form__label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
    margin-bottom: 20px;
}

.modal-form__label {
    margin-bottom: 10px;
}

.modal-form__box {
    display: block;
    position: relative;
    margin-top: 4px;
}

.modal-form__input,
.modal-form__feedback {
    width: 100%;
    height: 40px;
    text-indent: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    color: inherit;
    transition: color 250ms var(--primary-cubic);
}

.modal-form__feedback {
    display: block;
    height: 120px;
    padding: 12px 16px;
    margin-top: 4px;
    font-family: inherit;
    resize: none;
    font-size: 14px;
    line-height: 1.14;
    text-indent: 0;
    letter-spacing: 0.01em;
    &::placeholder {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}

.modal-form__input:focus,
.modal-form__feedback:focus {
    border: 1px solid var(--accent-color);
}

.modal-form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: var(--primary-text-color);
    transition: fill 250ms var(--primary-cubic);
    .modal-form__input:focus+&,
    .modal-form__input:hover+& {
        fill: var(--accent-color);
    }
}

.policy-box {
    @include centeredflex();
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-text-color);
}

.policy-box__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.policy-box__icon {
    width: 16px;
    height: 15px;
    border: 2px solid var(--primary-text-color);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-image: var(--white-color-bgc-text);
    transition: background-image 250ms var(--primary-cubic), border 250ms var(--primary-cubic), ;
    .policy-box__checkbox:checked+& {
        background-image: url(../images/iconcheck.svg);
        background-size: contain;
        background-origin: border-box;
        border: 2px solid var(--accent-color);
    }
    .policy-box__checkbox:focus+& {
        border: 2px solid var(--accent-color);
    }
}

.policy-box__text {
    margin-left: 7px;
}

.policy-box__link {
    text-decoration-line: underline;
    color: var(--accent-color);
}

.modal-form__btn {
    @include centeredflex();
    width: 200px;
    height: 50px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border: none;
    background-color: var(--accent-color);
    color: var(--white-color-bgc-text);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color 250ms var(--primary-cubic);
    &:hover,
    &:focus {
        background-color: #188CE8;
    }
}